#container{
    height: 600px;
    width: 60%;
    background-color: aqua;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    align-content:baseline;
}
#org{
    align-self:baseline ;
    /* flex-basis: 50px; */
    /* flex-grow: 1; */
    /* flex-shrink: 5; */
    flex: 2 2 100px;
}
#blu{
    /* flex-basis: 1000px; */
    /* flex-grow: 3; */
    /*  min-width: 400px; */
    /* flex-shrink: 2; */
    flex-grow: 2;
}
h1{
    text-align: center;
}
#container div{
    height: 100px;
    width: 50px;
    text-align: center;
    font-size: 1.5em;
}