.face{
    height: 400px;
    width: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}
.mouth{
    width: 200px;
    height: 75px;
    background-color: red;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;
}
.left-eye,
.right-eye{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 100px;
}
.right-eye{
    left: 250px;
}
